<header class="header">
  <div class="mid-header wid_100">
    <div class="container">
      <div class="row">
        <div class="content_header">
          <div class="header-main">
            <div class="col-lg-3 col-md-3 col-sm-12 logo-main">
              <div class="logo">
                <a href="https://big-food.mysapo.net/" class="logo-wrapper ">
                  <img src="./assets/img/logo.jpg" alt="logo Big Food">
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 hidden-sm hidden-xs">
              <div class="static">
                <div class="static-icon">
                  <i class="fas fa-phone"></i>
                </div>
                <div class="static-content">
                  <span class="static-title">Hotline:</span>
                  <a href="tel:19006750" class="static-info">
                    19006750
                  </a>
                </div>
              </div>
              <div class="static">
                <div class="static-icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="static-content">
                  <span class="static-title">Email:</span>
                  <a href="mailto:support@sapo.vn" class="static-info">
                    support@sapo.vn
                  </a>
                </div>
              </div>
              <div class="static margin-left-0">
                <div class="static-icon">
                  <i class="fas fa-clock"></i>
                </div>
                <div class="static-content">
                  <span class="static-title">Open:</span>
                  <span class="static-info">8 AM - 10 PM</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
