<section class=" awe-section-2">
  <section class="section section_main_product">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">
          <div class="best_sale_1">
            <div class="section title_module_main">
              <h2 class="h2">
                <a href="https://big-food.mysapo.net/san-pham-noi-bat" title="Sản phẩm nổi bật">Sản phẩm nổi bật
                </a>
              </h2>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-product-section-alpha></app-product-section-alpha>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="best_sale_banner img_effect">
                  <a href="./assets/img/saved_resource" title="Banner-3">
                    <img class="img-responsive center-base" src="./assets/img/mid-banner.jpg"
                         data-lazyload="./assets/img/mid-banner.jpg?1593415883670" alt="Banner-3">
                  </a>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section title_module_main">
                  <h2 class="h2">
                    <a href="https://big-food.mysapo.net/frontpage" title="Sản phẩm mới">Sản phẩm mới
                    </a>
                  </h2>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <app-product-section-bravo></app-product-section-bravo>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="product_index_banner img_effect">
                  <a href="./assets/img/saved_resource" title="Banner-4">
                    <img class="img-responsive center-base" src="./assets/img/banner-1.jpg"
                         data-lazyload="./assets/img/banner-1.jpg?1593415883670" alt="Banner-4">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="product_index_banner img_effect">
                  <a href="./assets/img/saved_resource" title="Banner-5">
                    <img class="img-responsive center-base" src="./assets/img/banner-2.jpg"
                         data-lazyload="./assets/img/banner-2.jpg?1593415883670" alt="Banner-5">
                  </a>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section title_module_main">
                  <h2 class="h2">
                    <a href="https://big-food.mysapo.net/san-pham-trong-tuan" title="Bán chạy trong tuần">Bán chạy trong
                                                                                                          tuần
                    </a>
                  </h2>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-product-section-charlie></app-product-section-charlie>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <aside class="aside-item sidebar-category collection-category">
                <div class="aside-title">
                  <h2 class="title-head">
                    <span>Danh mục sản phẩm</span>
                  </h2>
                </div>
                <div class="aside-content">
                  <nav class="nav-category navbar-toggleable-md">
                    <ul class="nav navbar-pills">
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/frontpage">Sản phẩm mới
                        </a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/san-pham-khuyen-mai">Sản phẩm khuyến mãi
                        </a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/san-pham-noi-bat">
                          Sản phẩm nổi bật
                        </a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/pizza">Pizza</a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/cac-loai-banh">
                          Bánh ngọt
                        </a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/banh-kem">Bánh kem
                        </a>
                      </li>
                      <li class="nav-item lv1">
                        <a class="nav-link" href="https://big-food.mysapo.net/do-an-nhe">Đồ ăn nhẹ
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </aside>
              <div class="aside-item aside-mini-list-product hidden-sm hidden-xs">
                <div>
                  <div class="aside-title margin-top-5">
                    <div class="aside-title">
                      <h2 class="title-head margin-top-0">
                        <a href="https://big-food.mysapo.net/san-pham-noi-bat" title="Sản phẩm bán chạy">Sản phẩm bán
                                                                                                         chạy
                        </a>
                      </h2>
                    </div>
                  </div>
                  <div class="aside-content bestsale-product">
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"
                             title="Pizza nhân bò phô mai">
                            <img class="small-image" src="./assets/img/1.jpg" data-lazyload="./assets/img/1.jpg?v=1454064638327"
                                 alt="pizza-nhan-bo-pho-mai">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai" title="Pizza nhân bò phô mai">
                              Pizza nhân bò phô mai
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">340.000₫</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-ga-ot-xanh"
                             title="Pizza gà ớt xanh">
                            <img class="small-image" src="./assets/img/112.jpg"
                                 data-lazyload="./assets/img/112.jpg?v=1454040113190" alt="pizza-ga-ot-xanh">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-ga-ot-xanh" title="Pizza gà ớt xanh">Pizza gà ớt
                                                                                                            xanh
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">234.000₫</span>
                            </span>
                            <span class="product-item-price-sale old-price">
                              <span class="compare-price price product-price-old">
                                267.000₫
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich"
                             title="Pizza hải sản xúc xích">
                            <img class="small-image" src="./assets/img/113.jpg"
                                 data-lazyload="./assets/img/113.jpg?v=1454040266683" alt="pizza-hai-san-xuc-xich">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich" title="Pizza hải sản xúc xích">
                              Pizza hải sản xúc xích
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">220.000₫</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">
                            <img class="small-image" src="./assets/img/3.jpg" data-lazyload="./assets/img/3.jpg?v=1454127534427"
                                 alt="banh-torrija">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">Bánh Torrija
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">50.000₫</span>
                            </span>
                            <span class="product-item-price-sale old-price">
                              <span class="compare-price price product-price-old">
                                60.000₫
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aside-item aside-mini-list-product hidden-sm hidden-xs">
                <div>
                  <div class="aside-title margin-top-5">
                    <div class="aside-title">
                      <h2 class="title-head margin-top-0">
                        <a href="https://big-food.mysapo.net/san-pham-noi-bat" title="Sản phẩm khuyến mại">Sản phẩm
                                                                                                           khuyến mại
                        </a>
                      </h2>
                    </div>
                  </div>
                  <div class="aside-content bestsale-product">
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"
                             title="Pizza nhân bò phô mai">
                            <img class="small-image" src="./assets/img/1.jpg" data-lazyload="./assets/img/1.jpg?v=1454064638327"
                                 alt="pizza-nhan-bo-pho-mai">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai" title="Pizza nhân bò phô mai">
                              Pizza nhân bò phô mai
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">340.000₫</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-ga-ot-xanh"
                             title="Pizza gà ớt xanh">
                            <img class="small-image" src="./assets/img/112.jpg"
                                 data-lazyload="./assets/img/112.jpg?v=1454040113190" alt="pizza-ga-ot-xanh">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-ga-ot-xanh" title="Pizza gà ớt xanh">Pizza gà ớt
                                                                                                            xanh
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">234.000₫</span>
                            </span>
                            <span class="product-item-price-sale old-price">
                              <span class="compare-price price product-price-old">
                                267.000₫
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich"
                             title="Pizza hải sản xúc xích">
                            <img class="small-image" src="./assets/img/113.jpg"
                                 data-lazyload="./assets/img/113.jpg?v=1454040266683" alt="pizza-hai-san-xuc-xich">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich" title="Pizza hải sản xúc xích">
                              Pizza hải sản xúc xích
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">220.000₫</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item_product_main itemcustome product_list_mini">
                      <div class="product-box product-item-list product-main-list-mini">
                        <div class="product-image">
                          <a class="img_thumb" href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">
                            <img class="small-image" src="./assets/img/3.jpg" data-lazyload="./assets/img/3.jpg?v=1454127534427"
                                 alt="banh-torrija">
                          </a>
                        </div>
                        <div class="product-shop">
                          <h3 class="product-name">
                            <a href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">Bánh Torrija
                            </a>
                          </h3>
                          <div class="product-summary hidden-lg hidden-md hidden-xs">
                            <span class="text3line">
                              Mô tả sản phẩm đang được cập nhật
                            </span>
                          </div>
                          <div class="product-item-price price-box">
                            <span class="special-price">
                              <span class="price product-price">50.000₫</span>
                            </span>
                            <span class="product-item-price-sale old-price">
                              <span class="compare-price price product-price-old">
                                60.000₫
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
