<style></style>
<div class="hidden-lg opacity_menu"></div><!-- Main content -->
<!--menu-top-->
<app-menu-top></app-menu-top>
<!--header-->
<app-header></app-header>
<!--header-menu-->
<app-header-menu></app-header-menu>
<div id="menu-overlay" class=""></div><!-- Header JS -->
<h1 class="hidden">Big Food - Big Food</h1>
<!--awe-section-one-->
<app-awe-section-one></app-awe-section-one>
<!--awe-section-two-->
<app-awe-section-two></app-awe-section-two>
<!--awe-section-three-->
<app-awe-section-three></app-awe-section-three>
<!-- Add to cart -->
<div id="popupCartModal" class="modal fade" role="dialog"></div>
<div class="bizweb-product-reviews-module"></div>
<!--footer-->
<app-footer></app-footer>
<!-- Add to cart -->
<app-add-to-cart></app-add-to-cart>
<!--awe-popup-->
<app-popup-awe-one></app-popup-awe-one>
<app-popup-add-cart></app-popup-add-cart>
<div class="error-popup awe-popup">
  <div class="overlay no-background"></div>
  <div class="popup-inner content">
    <div class="error-message"></div>
  </div>
</div>
<app-popup-cart></app-popup-cart>
<div id="myModal" class="modal fade" role="dialog"></div>
<div>
  <div style="display:none">
    <img src="./assets/img/Logging">
  </div>
</div>

