<div class="cl-comp-menu-top htop section">
  <div class="bg-topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 hidden-sm hidden-xs detop">
          <span>Chào mừng bạn đến với bigFood!</span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="link_top">
            <ul class="list-menu">
              <li class="first hidden-xs">
                <a href="https://big-food.mysapo.net/">
                  <span>Trang chủ</span>
                </a>
              </li>
              <li class=" hidden-xs">
                <a href="https://big-food.mysapo.net/gioi-thieu">
                  <span>Giới thiệu</span>
                </a>
              </li>
              <li class=" hidden-xs">
                <a href="https://big-food.mysapo.net/collections/all">
                  <span>Sản phẩm</span>
                </a>
              </li>
              <li class=" hidden-xs">
                <a href="https://big-food.mysapo.net/san-pham-khuyen-mai">
                  <span>Khuyến mãi</span>
                </a>
              </li>
              <li class=" hidden-xs">
                <a href="https://big-food.mysapo.net/tin-tuc">
                  <span>Tin tức</span>
                </a>
              </li>
              <li class=" hidden-xs">
                <a href="https://big-food.mysapo.net/lien-he">
                  <span>Liên hệ</span>
                </a>
              </li>
              <li class="account">
                <span>Tài khoản</span>
                <ul>
                  <li>
                    <a href="https://big-food.mysapo.net/account/login">Đăng nhập</a>
                  </li>
                  <li>
                    <a href="https://big-food.mysapo.net/account/register">Đăng ký</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <a href="https://big-food.mysapo.net/cart" class="cart-mobile-header hidden-lg hidden-md hidden-sm">
            <i class="fa fa-shopping-bag"></i>
            <span class="count_item count_item_pr">0</span>
          </a>
          <div class="searchbox-mobile hidden-lg hidden-md hidden-sm">
            <div class="search_inner">
              <i class="fa fa-search"></i>
              <div class="search-box">
                <div class="header-search search_form">
                  <form action="https://big-food.mysapo.net/search" method="get"
                        class="input-group search-bar search_form" role="search">
                    <input type="text" name="query" value="" autocomplete="off" placeholder="Gõ tìm kiếm..."
                           class="input-group-field auto-search" required="">
                    <span class="input-group-btn">
                      <button type="submit" class="btn icon-fallback-text">
                        <span class="fa fa-search"></span>
                      </button>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
