<div class="owl-carousel owl_col_section owl-loaded owl-drag" data-dot="false" data-nav="true" data-lg-items="3"
     data-md-items="3" data-height="true" data-xs-items="1" data-sm-items="3" data-margin="30">
  <div class="owl-stage-outer">
    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2342px;">
      <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">
                <img class="img-responsive" src="./assets/img/3.jpg" data-lazyload="./assets/img/3.jpg?v=1454127534427"
                     alt="Bánh Torrija">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1346127" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2099080">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">50.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        60.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">Bánh Torrija
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/banh-torrija"></a>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/cupcake-vani" title="Bánh vani">
                <img class="img-responsive" src="./assets/img/9.jpg" data-lazyload="./assets/img/9.jpg?v=1454127429830"
                     alt="Bánh vani">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1346126" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2099078">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">50.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        60.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/cupcake-vani" title="Bánh vani">Bánh vani
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/cupcake-vani"></a>
          </div>
        </div>
      </div>
      <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/cupcake-chocolate"
                 title="Cupcake chocolate">
                <img class="img-responsive" src="./assets/img/12.jpg"
                     data-lazyload="./assets/img/12.jpg?v=1454127571910" alt="Cupcake chocolate">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1346130" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2099092">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">40.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        55.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/cupcake-chocolate" title="Cupcake chocolate">
                  Cupcake chocolate
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/cupcake-chocolate"></a>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/banh-hamburger" title="Bánh Hamburger">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                     data-lazyload="./assets/img/6.jpg?v=1454130202917" alt="Bánh Hamburger">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1345619" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2097590">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">30.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        35.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/banh-hamburger" title="Bánh Hamburger">Bánh Hamburger
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/banh-hamburger"></a>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"
                 title="Pizza nhân bò phô mai">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                     data-lazyload="./assets/img/1.jpg?v=1454064638327" alt="Pizza nhân bò phô mai">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1345093" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2096694">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">340.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai" title="Pizza nhân bò phô mai">Pizza nhân bò
                                                                                                          phô mai
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"></a>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/mut-kem" title="Bánh mứt kem">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                     data-lazyload="./assets/img/8.jpg?v=1454127353800" alt="Bánh mứt kem">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1346161" enctype="multipart/form-data">
                  <div class="group_action">
                    <input class="hidden" type="hidden" name="variantId" value="2099147">
                    <a class="btn-cart firstb button_35 left-to" title="Chọn sản phẩm"
                       href="https://big-food.mysapo.net/mut-kem">
                      Chọn sản phẩm
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">60.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/mut-kem" title="Bánh mứt kem">Bánh mứt kem
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/mut-kem"></a>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-thap-cam" title="Pizza thập cẩm">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                     data-lazyload="./assets/img/119.jpg?v=1454043355450" alt="Pizza thập cẩm">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1345602" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2097518">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">335.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        345.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/pizza-thap-cam" title="Pizza thập cẩm">Pizza thập cẩm
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/pizza-thap-cam"></a>
          </div>
        </div>
      </div>
      <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
        <div class="item_product_main itemcustome">
          <div class="product-box product-item-main product-item-compare">
            <div class="product-thumbnail">
              <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-thit-hun-khoi"
                 title="Pizza thịt hun khói">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                     data-lazyload="./assets/img/118.jpg?v=1454043457990" alt="Pizza thịt hun khói">
              </a>
              <div class="product-action clearfix">
                <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                      data-id="product-actions-1345606" enctype="multipart/form-data">
                  <div class="group_action">
                    <input type="hidden" name="variantId" value="2097538">
                    <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                      Mua hàng
                    </a>
                  </div>
                </form>
              </div>
            </div>
            <div class="product-info product-bottom mh">
              <div class="section">
                <div class="blockprice">
                  <div class="product-item-price price-box">
                    <span class="special-price">
                      <span class="price product-price">360.000₫
                      </span>
                    </span>
                    <span class="product-item-price-sale old-price">
                      <span class="compare-price price product-price-old">
                        365.000₫
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <h3 class="product-name">
                <a href="https://big-food.mysapo.net/pizza-thit-hun-khoi" title="Pizza thịt hun khói">
                  Pizza thịt hun khói
                </a>
              </h3>
            </div>
            <a class="product_overlay" href="https://big-food.mysapo.net/pizza-thit-hun-khoi"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
