<div class="content_module">
  <div class="wrap_content">
    <div class="owl_col_section owlbestsale owl-carousel owl-loaded owl-drag" data-dot="false" data-nav="true"
         data-lg-items="3" data-md-items="3" data-height="true" data-xs-items="1" data-sm-items="3" data-margin="30">
      <!-- ADD DIV -->
      <div class="owl-stage-outer">
        <div class="owl-stage"
             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1464px;">
          <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
            <div class="item_product_main itemcustome best_sale">
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"
                     title="Pizza nhân bò phô mai">
                    <img class="img-responsive" src="./assets/img/1.jpg" data-lazyload="./assets/img/1.jpg"
                         alt="Pizza nhân bò phô mai">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1345093" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2096694">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            340.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai" title="Pizza nhân bò phô mai">Pizza nhân
                                                                                                              bò phô mai
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/pizza-nhan-bo-pho-mai"></a>
              </div>
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-ga-ot-xanh"
                     title="Pizza gà ớt xanh">
                    <img class="img-responsive" src="./assets/img/112.jpg" data-lazyload="./assets/img/112.jpg"
                         alt="Pizza gà ớt xanh">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1345170" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2096779">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            234.000₫
                          </span>
                        </span>
                        <span class="product-item-price-sale old-price">
                          <span class="compare-price price product-price-old">
                            267.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/pizza-ga-ot-xanh" title="Pizza gà ớt xanh">
                      Pizza gà ớt xanh
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/pizza-ga-ot-xanh"></a>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
            <div class="item_product_main itemcustome best_sale">
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich"
                     title="Pizza hải sản xúc xích">
                    <img class="img-responsive" src="./assets/img/113.jpg"
                         data-lazyload="./assets/img/113.jpg?v=1454040266683" alt="Pizza hải sản xúc xích">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1345176" enctype="multipart/form-data">
                      <div class="group_action">
                        <input class="hidden" type="hidden" name="variantId" value="2096796">
                        <a class="btn-cart firstb button_35 left-to" title="Chọn sản phẩm"
                           href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich">
                          Chọn sản phẩm
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            220.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich" title="Pizza hải sản xúc xích">Pizza
                                                                                                                hải sản
                                                                                                                xúc xích
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/pizza-hai-san-xuc-xich"></a>
              </div>
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">
                    <img class="img-responsive" src="./assets/img/3.jpg"
                         data-lazyload="./assets/img/3.jpg?v=1454127534427" alt="Bánh Torrija">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346127" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099080">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            50.000₫
                          </span>
                        </span>
                        <span class="product-item-price-sale old-price">
                          <span class="compare-price price product-price-old">
                            60.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/banh-torrija" title="Bánh Torrija">Bánh Torrija
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/banh-torrija"></a>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
            <div class="item_product_main itemcustome best_sale">
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/mut-kem" title="Bánh mứt kem">
                    <img class="img-responsive" src="./assets/img/8.jpg"
                         data-lazyload="./assets/img/8.jpg?v=1454127353800" alt="Bánh mứt kem">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346161" enctype="multipart/form-data">
                      <div class="group_action">
                        <input class="hidden" type="hidden" name="variantId" value="2099147">
                        <a class="btn-cart firstb button_35 left-to" title="Chọn sản phẩm"
                           href="https://big-food.mysapo.net/mut-kem">
                          Chọn sản phẩm
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            60.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/mut-kem" title="Bánh mứt kem">Bánh mứt kem
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/mut-kem"></a>
              </div>
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/cupcake-cherry" title="Cupcake cherry">
                    <img class="img-responsive" src="./assets/img/7.jpg"
                         data-lazyload="./assets/img/7.jpg?v=1454127472583" alt="Cupcake cherry">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346158" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099140">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            40.000₫
                          </span>
                        </span>
                        <span class="product-item-price-sale old-price">
                          <span class="compare-price price product-price-old">
                            50.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/cupcake-cherry" title="Cupcake cherry">Cupcake cherry
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/cupcake-cherry"></a>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
            <div class="item_product_main itemcustome best_sale">
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/cupcake-vani" title="Bánh vani">
                    <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                         data-lazyload="./assets/img/9.jpg?v=1454127429830" alt="Bánh vani">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346126" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099078">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            50.000₫
                          </span>
                        </span>
                        <span class="product-item-price-sale old-price">
                          <span class="compare-price price product-price-old">
                            60.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/cupcake-vani" title="Bánh vani">Bánh vani
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/cupcake-vani"></a>
              </div>
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/banh-kem-bac-ha"
                     title="Bánh kem bạc hà">
                    <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                         data-lazyload="./assets/img/c6.png?v=1454054784483" alt="Bánh kem bạc hà">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346156" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099135">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            90.000₫
                          </span>
                        </span>
                        <span class="product-item-price-sale old-price">
                          <span class="compare-price price product-price-old">
                            100.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/banh-kem-bac-ha" title="Bánh kem bạc hà">Bánh kem bạc hà
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/banh-kem-bac-ha"></a>
              </div>
            </div>
          </div>
          <div class="owl-item" style="width: 262.667px; margin-right: 30px;">
            <div class="item_product_main itemcustome best_sale">
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/banh-ngot" title="Bánh ngọt">
                    <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                         data-lazyload="./assets/img/cupcakemint.jpg?v=1454054982540" alt="Bánh ngọt">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346129" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099088">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            30.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/banh-ngot" title="Bánh ngọt">Bánh ngọt
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/banh-ngot"></a>
              </div>
              <!-- chan le = true -->
              <div class="product-box product-item-main product-item-compare">
                <div class="product-thumbnail">
                  <a class="image_thumb p_img" href="https://big-food.mysapo.net/my-xao-1" title="Chocolate nhân kem">
                    <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA="
                         data-lazyload="./assets/img/c2.png?v=1454055029653" alt="Chocolate nhân kem">
                  </a>
                  <div class="product-action clearfix">
                    <form action="https://big-food.mysapo.net/cart/add" method="post" class="variants form-nut-grid"
                          data-id="product-actions-1346132" enctype="multipart/form-data">
                      <div class="group_action">
                        <input type="hidden" name="variantId" value="2099100">
                        <a class="btn-buy firstb btn-cart button_35 left-to muangay add_to_cart" title="Mua hàng">
                          Mua hàng
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-info product-bottom mh">
                  <div class="section">
                    <div class="blockprice">
                      <div class="product-item-price price-box">
                        <span class="special-price">
                          <span class="price product-price">
                            78.000₫
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <h3 class="product-name">
                    <a href="https://big-food.mysapo.net/my-xao-1" title="Chocolate nhân kem">Chocolate nhân kem
                    </a>
                  </h3>
                </div>
                <a class="product_overlay" href="https://big-food.mysapo.net/my-xao-1"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
