<section class=" awe-section-1">
  <div class="home-slider owl-carousel owl-theme owl-loaded owl-drag" data-dot="false" data-nav="true" data-lg-items="1"
       data-md-items="1" data-sm-items="1" data-xs-items="1" data-margin="0">
    <div class="owl-stage-outer">
      <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2698px;">
        <div class="owl-item active" style="width: 1349px;">
          <div class="item">
            <a href="./assets/img/saved_resource" class="clearfix">
              <picture>
                <source media="(max-width: 480px)" srcset="./assets/img/slider_1.jpg">
                <source media="(min-width: 481px) and (max-width: 600px)" srcset="./assets/img/slider_1.jpg">
                <source media="(min-width: 601px) and (max-width: 1023px)" srcset="./assets/img/slider_1.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="./assets/img/slider_1.jpg">
                <source media="(min-width: 1200px)" srcset="./assets/img/slider_1.jpg">
                <img src="./assets/img/slider_1.jpg" alt="Slider 1">
              </picture>
            </a>
          </div>
        </div>
        <div class="owl-item" style="width: 1349px;">
          <div class="item">
            <a href="./assets/img/saved_resource" class="clearfix">
              <picture>
                <source media="(max-width: 480px)" srcset="./assets/img/slider_2.jpg">
                <source media="(min-width: 481px) and (max-width: 600px)" srcset="./assets/img/slider_2.jpg">
                <source media="(min-width: 601px) and (max-width: 1023px)" srcset="./assets/img/slider_2.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="./assets/img/slider_2.jpg">
                <source media="(min-width: 1200px)" srcset="./assets/img/slider_2.jpg">
                <img src="./assets/img/slider_2.jpg" alt="Slider 2">
              </picture>
            </a>
          </div>
        </div>
        <div class="owl-item" style="width: 1349px;">
          <div class="item">
            <a href="./assets/img/saved_resource" class="clearfix">
              <picture>
                <source media="(max-width: 480px)" srcset="./assets/img/slider_3.jpg">
                <source media="(min-width: 481px) and (max-width: 600px)" srcset="./assets/img/slider_3.jpg">
                <source media="(min-width: 601px) and (max-width: 1023px)" srcset="./assets/img/slider_3.jpg">
                <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="./assets/img/slider_3.jpg">
                <source media="(min-width: 1200px)" srcset="./assets/img/slider_3.jpg">
                <img src="./assets/img/slider_2.jpg" alt="Slider 3">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm">
          <div class="product_index_banner banner_effect">
            <a href="./assets/img/saved_resource" title="Banner 1">
              <img class="img-responsive center-base" src="./assets/img/banner-3.jpg"
                   data-lazyload="./assets/img/banner-3.jpg?1593415883670" alt="Banner 1">
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="product_index_banner banner_effect">
            <a href="./assets/img/saved_resource" title="Banner 2">
              <picture>
                <source media="(max-width: 480px)" srcset="./assets/img/banner-4.jpg?1593415883670">
                <source media="(min-width: 481px) and (max-width: 600px)" srcset="./assets/img/banner-4.jpg?1593415883670">
                <source media="(min-width: 601px) and (max-width: 1023px)" srcset="./assets/img/banner-4.jpg?1593415883670">
                <source media="(min-width: 1024px) and (max-width: 1199px)"
                        srcset="./assets/img/banner-4.jpg?1593415883670">
                <source media="(min-width: 1200px)" srcset="./assets/img/banner-4.jpg?1593415883670">
                <img class="img-responsive center-base" src="./assets/img/banner-4.jpg"
                     data-lazyload="./assets/img/banner-4.jpg?1593415883670" alt="Banner 2">
              </picture>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
